{% extends "index.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">Witaj w mojej bibliotece filmów</h1>
        <p class="lead">Znajdziesz tutaj tylko najlepsze tytuły!</p>
    </div>
    
            <div class="col-lg-12 mb-4">
            {% for position in movies_lists %}
            <a href="{{ url_for('homepage', list_type=position) }}" class="btn btn-outline-primary">{{position}}</a>
            {% endfor %}
            </div>

   
    {% for movie in movies %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-200">
            <img class="card-img-top" src="http://placehold.it/300x500" alt="">
            <div class="card-body">
                
                <img src="{{ tmdb_image_url(movie.poster_path, 'w185') }}">
                <h4 class="card-title">{{movie.original_title}}</h4>
                
            </div>
            <div class="card-footer text-center">
                <a href="{{ url_for('movie_details', movie_id=movie.id) }}">Pokaż więcej</a>
            </div>
        </div>
    </div>
    {% endfor %}
 </div>
{% endblock %}
